@import "tailwindcss";

@theme {
  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);
  --color-accent: var(--accent-color);

  --color-base-100: var(--base-100-color);

  --color-text-primary: var(--text-primary-color);
  --color-text-secondary: var(--text-secondary-color);
}